
.parent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.login-cont{
    display: flex;
    justify-content: center;
    padding: 8px;
}

.login-wra{
    max-width: 400px;
    background: rgb(240, 240, 240);
    flex: 1 1 0%;
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0px 2px #bbbbbb;
}

.login-wra h1{
    color: #696de0;
    text-align: center;
    margin: 0px 8px;
}

.link-btn-wra div{
    text-align: center;
}

.login-btn-wra{
    display: flex;
    justify-content: center;
}

.heading{
    font-size: 24px;
    text-align: center;
    padding-bottom: 8px;
}

.link-btn-wra{
    padding-bottom: 24px;
}

.link-btn-wra p{
    text-align: center;
    font-size: 16px;
    margin: 0px;
}

.warning{
    color: red;
    text-align: center;
    font-size: 18px;
}